
.artists-container{
    display: flex;

    justify-content: center;
    margin-left: 15%;


    

    .artist{
        width: 35%;

        border: 20px;
        img{
            width: 50%;

            border-radius: 20px;
        }
        a{
            text-decoration: none;
            font-size: 1.6rem;
            color:gray
        }
            &hover{
            color: grey
        }
        .bio{
            width: 60%;

        }
    }
}