
.title-container{
    border: 1px red solid;
    display: flex;
    justify-content: center;
    align-items: center;

     background-image: url(C:\Users\aguil\Desktop\lambdassign\50-Influential-Artists\assets\home.png);
    background-size: cover;
     width: 70%;
    // padding: 5%;
    //background-image:url(C:\Users\aguil\Desktop\lambdassign\50-Influential-Artists\assets\home.png);
    // img{
    //     width: 80%;
         height: 60vh;
    // }
   
    //    .centered{
    //     //    background-image: url('C:\Users\aguil\Desktop\lambdassign\50-Influential-Artists\assets\home.png');

    //    }
   

    // }

    }